nav {
    display: flex;
    justify-content: space-between;
    background-color: #202428;
    border-bottom: whitesmoke 1px solid;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

nav div a {
    color: #BDF139;
    text-decoration: none;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    color: whitesmoke;
}

nav ul li a {
    color: whitesmoke;
}